<mapper namespace="com.solvd.socialnetwork.daos.IGroupDAO">
    <resultMap id="GroupResultMap" type="com.solvd.socialnetwork.models.Group" autoMapping="false">
        <id column="ID" property="id"/>
        <result column="GROUP_NAME" property="groupName"/>
        <result column="GROUP_TYPE" property="groupType"/>
        <result column="GROUP_CREATOR_ID" property="groupCreatorId"/>
        <collection property ="groupMembers" ofType="com.solvd.socialnetwork.models.GroupMember" column="ID" select="com.solvd.socialnetwork.resources.GroupMemberMapper.getGroupMembersByGroupId"/>
    </resultMap>

    <select id="getById" resultMap="GroupResultMap">
        SELECT * FROM GROUPS WHERE ID = #{id}
    </select>

    <select id="getByGroupName" resultMap="GroupResultMap">
        SELECT * FROM GROUPS WHERE GROUP_NAME = #{groupName}
    </select>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.Group" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO GROUPS (GROUP_NAME, GROUP_TYPE, GROUP_CREATOR_ID)
        VALUES (#{groupName}, #{groupType}, #{groupCreatorId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetwork.models.Group">
        UPDATE GROUPS 
        SET GROUP_NAME = #{groupName}, GROUP_TYPE = #{groupType}, GROUP_CREATOR_ID = #{groupCreatorId}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.solvd.socialnetwork.models.Group">
        DELETE FROM GROUPS WHERE ID = #{id}
    </delete>
</mapper>