<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <properties resource="_database.properties"/>

    <environments default="Stag">
        <environment id="Stag">
         <transactionManager type="JDBC"/>
          <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
        </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/PostMapper.xml"/>
        <mapper resource="mappers/CommentMapper.xml"/>
        <mapper resource="mappers/MessageMapper.xml"/>
        <mapper resource="mappers/NotificationMapper.xml"/>
        <mapper resource="mappers/GroupMapper.xml"/>
        <mapper resource="mappers/GroupMemberMapper.xml"/>
        <mapper resource="mappers/EventMapper.xml"/>
        <mapper resource="mappers/EventParticipantMapper.xml"/>
        <mapper resource="mappers/FriendshipMapper.xml"/>
        <mapper resource="mappers/LikePostMapper.xml"/>
        <mapper resource="mappers/StoryMapper.xml"/>
        <mapper resource="mappers/SavedPostMapper.xml"/>
    </mappers>
</configuration>
