<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.socialnetwork.daos.ILikePostDAO">
    <resultMap id="LikePostResultMap" type="com.solvd.socialnetwork.models.LikePost" autoMapping="false">
        <id column="ID" property="id"/>
        <result column="POST_ID" property="postId"/>
        <result column="USER_ID" property="userId"/>
    </resultMap>

    <select id="getById" resultMap="LikePostResultMap">
        SELECT * FROM Posts_Likes WHERE ID = #{id}
    </select>

    <select id="getByPostId" resultMap="LikePostResultMap">
        SELECT * FROM Posts_Likes WHERE POST_ID = #{postId}
    </select>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.LikePost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Posts_Likes (POST_ID, USER_ID)
        VALUES (#{postId}, #{userId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetwork.models.LikePost">
        UPDATE Posts_Likes SET POST_ID = #{postId}, USER_ID = #{userId}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.solvd.socialnetwork.models.LikePost">
        DELETE FROM Posts_Likes WHERE ID = #{id}
    </delete>
</mapper>
