<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.socialnetwork.daos.ISavedPostDAO">
    <resultMap id="SavedPostResultMap" type="com.solvd.socialnetwork.models.SavedPost" autoMapping="false">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="POST_ID" property="postId"/>
    </resultMap>

    <select id="getById" resultMap="SavedPostResultMap">
        SELECT * FROM Saved_Posts WHERE ID = #{id}
    </select>

    <select id="getByUserId" resultMap="SavedPostResultMap">
        SELECT * FROM Saved_Posts WHERE USER_ID = #{userId}
    </select>

    <update id="update" parameterType="com.solvd.socialnetwork.models.SavedPost">
        UPDATE Saved_Posts
        SET USER_ID = #{userId}, POST_ID = #{postId}
        WHERE ID = #{id}
    </update>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.SavedPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Saved_Posts (USER_ID, POST_ID)
        VALUES (#{userId}, #{postId})
    </insert>

    <delete id="delete" parameterType="com.solvd.socialnetwork.models.SavedPost">
        DELETE FROM Saved_Posts WHERE ID = #{id}
    </delete>
</mapper>