<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.solvd.socialnetwork.dao.IStoryDAO">
    <resultMap id="StoryResultMap" type="com.solvd.socialnetwork.models.Story" autoMapping="false">
        <id column="ID" property="id"/>
        <result column="TEXT" property="text"/>
        <result column="PICTURE_STORY_URL" property="pictureStoryUrl"/>
        <result column="STORY_CREATOR_ID" property="storyCreatorId"/>
    </resultMap>

    <select id="getById" resultMap="StoryResultMap">
        SELECT * FROM Stories WHERE ID = #{id}
    </select>

    <insert id="save" parameterType="com.solvd.socialnetwork.models.Story" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Stories (TEXT, PICTURE_STORY_URL, STORY_CREATOR_ID)
        VALUES (#{text}, #{pictureStoryUrl}, #{storyCreatorId})
    </insert>

    <update id="update" parameterType="com.solvd.socialnetwork.models.Story">
        UPDATE Stories
        SET TEXT = #{text}, PICTURE_STORY_URL = #{pictureStoryUrl}, STORY_CREATOR_ID = #{storyCreatorId}
        WHERE ID = #{id}    
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM Stories WHERE ID = #{id}
    </delete>

    <delete id="deleteByStoryCreatorId" parameterType="int">
        DELETE FROM Stories WHERE STORY_CREATOR_ID = #{storyCreatorId}  
    </delete>
</mapper>
